
html,body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: url("../public/roadbg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   
}

.Dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #4C489D;
  box-shadow: 0px 1px 1px #5C5696;
}


